@font-face {
  font-family: Dm Sans;
  src: url(fonts/DMSans-VariableFont_opsz\,wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Dm Sans;
}

body {
  font-family: Arial, sans-serif;
  background-color: black;
  color: white;
  margin: 0;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 20px;
}

.logo img {
  height: 70px;
  display: block;
  margin: 0 auto;
}

.links a {
  margin-top: 5px;
  color: white;
  text-decoration: none;
  margin: 0 35px;
  font-weight: bold;
  text-transform: uppercase;
}

.links a:hover {
  color: gray;
}

.banner {
  position: relative;
  height: 100vh;
  background-image: url("imgs/Banner.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.fundo-banner {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}

.texto-banner {
  position: absolute;
  top: 40%;
  left: 80px;
  transform: translateY(-50%); /* Centralizar o texto*/
}

.texto-banner h2 {
  font-size: 52px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}

.texto-banner p {
  margin-top: 10px;
  color: #ddd;
  font-size: 22px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}

/* SOBRE NÓS */
.sobre {
  padding: 50px;
  text-align: center;
}

.titulo-sobre-nos h2 {
  display: inline-block;
  margin: 0 15px;
  font-size: 40px;
}

.titulo-sobre-nos hr {
  width: 480px;
  display: inline-block;
  border: 2px solid #555;
}

.card-sobre-nos {
  background-color: #ddd;
  color: black;
  padding: 55px;
  width: 80%;
  margin: auto;
  border-radius: 10px;
  text-align: justify;
  margin-top: 25px;
  font-size: 22px;
}

/* CARDS */
.cards-informacoes {
  display: flex;
  justify-content: center;
  gap: 80px;
  margin: 50px;
  flex-wrap: wrap;
}

.card-giratorio {
  width: 400px;
  height: 480px;
  perspective: 1000px; /* cria efeito 3D na rotação */
}

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 0.8s; /* animação na rotação do card */
  transform-style: preserve-3d; /* a caixa continua sendo uma caixa 3D */
}

.card-giratorio:hover .card-inner {
  transform: rotateY(180deg); /* gira o card */
}

.card-frente, .card-verso {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden; /* Texto do lado correto */
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
}
.card-frente img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.card-verso {
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: rotateY(180deg); /* gira o card */
  padding: 20px;
  text-align: center;
}

/* UPLOAD */
.upload {
  background-color: #ddd;
  color: black;
  padding: 30px;
  width: 75%;
  margin: auto;
  border-radius: 10px;
  text-align: center;
  margin-top: 10px;
  font-size: 22px;
}

.botao-upload {
  display: inline-block;
  padding: 12px 25px;
  background-color: black;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  margin-top: 20px;
}

.botao-upload:hover {
  background-color: #333;
}

/* GALERIA */
.titulo-galeria {
  text-align: center;
  margin-top: 100px;
}

.galeria {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 colunas */
  gap: 40px;
  padding: 40px;
}

.galeria img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 10px;
  transition: 0.3s;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.4); /* sombra ao redor dos cards */
}

.galeria img:hover {
  transform: scale(1.05); /* efeito ao passar o mouse */
}

.galeria img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;

  filter: grayscale(100%); /* deixa preto e branco */
  transition: 0.4s; /* animação suave */
}

.galeria img:hover {
  filter: grayscale(0%); /* volta para colorido */
}

/* FOOTER */
.footer {
  background-color: #111;
  color: #ccc;
  text-align: center;
}

.footer-direitos {
  border-top: 1px solid #333;
  margin-top:60px;
  padding-top: 20px;
  font-size: 15px;

}

/* TELA DE CADASTRO REUTILIZADO PARA TELA DE LOGIN */

.container-validacao {
  position: relative;
  display: flex;
  height: 100vh;

  background-image: url("imgs/Banner.jpeg");
  background-size: cover;
  background-position: center;
}

.container-validacao::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}

/* garantir que tudo fique na frente */
.texto-lateral,
.form {
  position: relative;
  z-index: 1;
}

.texto-lateral {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 80px;
  color: white;
  text-align: center;
}

.texto-lateral h1 {
  font-size: 60px;
  margin-bottom: 10px;
}

.texto-lateral p {
  font-size: 22px;
  margin-bottom: 30px;
}

.botao-login-cadastro {
  display: block;
  margin: 10px auto 0 auto;
  padding: 10px 25px;
  background-color: white;
  color: black;
  border-radius: 20px;
  text-decoration: none;
  width: 150px;
  text-align: center;
}

.form {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* FORMULARIO */

.formulario {
  display: flex;
  flex-direction: column;

  background-color: rgba(255,255,255,0.8);
  padding: 40px;
  border-radius: 15px;
  width: 500px;
}

.formulario input {
  width: 100%;
  border: none;
  border-bottom: 2px solid black;
  margin-bottom: 20px;
  padding: 10px;
  background: transparent;
  outline: none;
}

.formulario button {
  margin: 20px auto 0 auto;
  display: block;
  padding: 10px 25px;
  border-radius: 20px;
  background-color: white;
  cursor: pointer;
}